.Widget {
    color: black;
    height: 30px;
    width: 30px;
    margin-right: 2%;
}

.App {
    text-align: center;
    background: rgb(20,36,0);
    background: linear-gradient(90deg, rgba(20,36,0,1) 0%, rgba(30,121,9,1) 40%, rgba(0,255,111,1) 100%);
    height: auto;
  }


